@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate-cyan: hsl(168, 34%, 41%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}
body {
    font-size: 18px;
    font-family: 'Fraunces', serif;
}
#header {
    background-image: url(../images/desktop/image-header.jpg);
    height: 750px;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 10px;
}
#header .flex {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 15%;
    padding: 40px;
}
#header .logo img {
    height: 30px;
    margin-left: -100%;
}
#header .navbar ul {
    display: flex;
    gap: 20%;
    list-style: none;
}
#header .navbar ul li a {
    text-decoration: none;
    font-size: 20px;
    color: var(--White);
}
#header .navbar ul li a:hover {
    font-size: 25px;
}
#header .navbar ul li a:active {
    color: var(--Dark-blue);
}
#header .navbar ul li button {
    background: var(--White);
    border: none;
    padding: 15px;
    border-radius: 50px;
    width: 130%;
    margin-top: -15px;
}
#header .navbar ul li button:hover {
    background: rgb(85, 158, 253);
}
#header .navbar ul li button:active {
    background: rgb(85, 158, 253);
}
#header .navbar li button a {
    color: black;
}
#header .navbar ul li button a:hover {
    color: var(--White);
}
#header .navbar ul li button a:active {
    color: var(--White);
}

/* HAMBURGER MENU*/
 .menu_hidden {
    visibility: hidden;
    position: absolute;
    background: black;
    width: 80%;
    height: 400px;
    top: 80px;
    left: auto;
    right: auto;
    text-align: center;
    padding: 10px;
}
.menu_hidden nav ul {
    flex-direction: column;
    gap: 40px;
}
.menu_hidden nav ul li a {
    color: var(--Dark-blue);
    margin-top: 50px;
    transition: 0.5s ease;
}
.menu_hidden nav ul li button {
    background: var(--Yellow);
    width: 30%;
}
.hamburger {
    display: none;
    height: 30px;
}
#header .head h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 80px;
    color: var(--White);
    letter-spacing: 10px;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
}
#header .head img {
    margin-left: 49%;
    margin-top: 8%;
}
#grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#grid .boxes {
    width: 60%;
    padding-left: 100px;
    padding-top: 70px;
    text-align: start;
}
#grid .boxes h2 {
    font-size: 40px;
    margin-top: 60px;
    color: var(--Very-dark-desaturated-blue);
    font-family: 'Fraunces', serif
}
#grid .boxes p {
    margin-top: 30px;
    font-size: 14.6px;
    opacity: 80%;
    font-family: 'Barlow', sans-serif;
}
#grid .boxes button {
    margin-top: 20px;
    border: none;
    background: white;
    border-bottom: 2px solid gold;
    text-transform: uppercase;
    color: var(--Very-dark-desaturated-blue);
}
#grid .boxes button a {
    color: var(--Very-dark-desaturated-blue);
    text-decoration: none;
}
#grid .boxes button:hover {
    border-bottom: 5px solid gold;
}
#grid .boxes button:active {
    border-bottom: 5px solid gold;
    color: var(--Very-dark-desaturated-blue);
}
#grid .egg {
    background: url(../images/desktop/image-transform.jpg);
    height: 550px;
    background-repeat: no-repeat;
    background-size: 100%;
}
#grid .cup {
    background: url(../images/desktop/image-stand-out.jpg);
    height: 550px;
    background-repeat: no-repeat;
    background-size: 100%;
}
#grid .words {
    width: 50%;
    padding-left: 100px;
    padding-top: 70px;
    text-align:start;
}
#grid .words h1 {
    font-size: 30px;
    margin-top: 60px;
    color: var(--Very-dark-desaturated-blue);
    font-family: 'Fraunces', serif
}
#grid .words p {
    margin-top: 30px;
    font-size: 14.5px;
    opacity: 80%;
    color: var(--Very-dark-desaturated-blue);
    font-family: 'Barlow', sans-serif;
}
#grid .words button {
    margin-top: 20px;
    border: none;
    background: white;
    border-bottom: 2px solid pink;
    text-transform: uppercase;
}
#grid .words button a {
    color: var(--Very-dark-desaturated-blue);
    text-decoration: none;
}
#grid .words button:hover {
    border-bottom: 5px solid pink;
}
#grid .words button:active {
    border-bottom: 5px solid pink;
    color: var(--Very-dark-desaturated-blue);
}
#grid .grape {
    background: url(../images/desktop/image-graphic-design.jpg);
    height: 550px;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}
#grid .grape h1 {
    font-size: 30px;
    margin-top: 350px;
    color: var(--Very-dark-desaturated-blue);
    font-family: 'Fraunces', serif;
    font-weight: 900;
}
#grid .grape p {
    margin-top: 30px;
    font-size: 20px;
    width: 60%;
    margin-left: 150px;
    color: var(--Very-dark-desaturated-blue);
    font-family: 'Barlow', sans-serif;
}
#grid .photography {
    background: url(../images/desktop/image-photography.jpg);
    height: 550px;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}
#grid .photography h1 {
    font-size: 30px;
    margin-top: 350px;
    color: var(--Very-dark-desaturated-blue);
    font-family: 'Fraunces', serif
}
#grid .photography p {
    margin-top: 30px;
    font-size: 20px;
    width: 60%;
    margin-left: 150px;
    color: var(--Very-dark-desaturated-blue);
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
}
#testimonials {
    margin-top: 100px;
}
#testimonials h2 {
    text-align: center;
    opacity: 30%;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.test {
    display: flex;
    padding: 50px;
}
.test .box {
    width: 30%;
    margin-left: 60px;
    text-align: center;
}
.test .box img {
    border-radius: 100px;
    width: 15%;
    margin-top: 10ox;
}
.test .box p {
    font-size: 20px;
    margin-top: 20px;
    opacity: 80%;
}
.test .box h4 {
    margin-top: 10px;
    opacity: 60%;
}
.test .box h3 {
    margin-top: 40px;
    opacity: 80%;
}
#images {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#images .image1 {
    background: url(../images/desktop/image-gallery-milkbottles.jpg);
    height: 420px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
#images .image2 {
    background: url(../images/desktop/image-gallery-orange.jpg);
    height: 420px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
#images .image3 {
    background: url(../images/desktop/image-gallery-cone.jpg);
    height: 420px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
#images .image4 {
    background: url(../images/desktop/image-gallery-sugarcubes.jpg);
    height: 420px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
footer {
    background: var(--Dark-moderate-cyan);
    text-align: center;
    height: 300px;
}
footer .footer_logo img{
    margin-top: 70px;
    filter: brightness(1) invert(1);
    opacity: 60%;
    height: 35px;
}
footer .links nav ul{
    display: flex;
    gap: 60px;
    margin-top: 40px;
    margin-left: 37%;
    list-style: none;
}
footer .links nav li a {
    text-decoration: none;
    font-size: 25px;
    opacity: 60%;
    color: var(--Very-dark-desaturated-blue);
}
footer .links nav li a:hover {
    color: var(--White);
    opacity: 100%;
    cursor: pointer;
}
footer .links nav ul{
    display: flex;
    gap: 60px;
    margin-top: 40px;
    margin-left: 37%;
    list-style: none;
}
footer .contact {
    display: flex;
    gap: 40px;
    margin-top: 60px;
    margin-left: 42.5%;
}
footer .contact a {
    filter: brightness(0) invert(0);
    opacity: 60%;
}
footer .contact a:hover {
    filter: brightness(0) invert(1);
    opacity: 100%;
}
@media only screen and (max-width:1024px) {
    html,body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    #header .flex {
        gap: 0%;
    }
    #header {
        height: 550px;
    }
    #header .head h1 {
        margin-top: 20px;
    }
    #header .head img {
        margin-left: 47%;
        margin-top: 0%;
        width: 5%;
    }
    #grid .boxes {
        padding-top: 20px;
    }
    #grid .boxes h2 {
        font-size: 30px;
    }
    #grid .boxes p {
        font-size: 14.5px;
    }
    #grid .egg {
        height: 400px;
    }
    #grid .words {
        padding-top: 0px;
    }
    #grid .words h1 {
        font-size: 25px;
        width: 100%;
    }
    #grid .words p {
        font-size: 14.5px;
    }
    #grid .cup {
        height: 400px;
    }
    #grid .grape {
        height: 430px;
    }
    #grid .grape h1 {
        margin-top: 240px;
        font-size: 40px;
    }
    #grid .grape p {
        margin-top: 15px;
        width: 100%;
        margin-left: 7px;
        font-size: 25px;
    }
    #grid .photography {
        height: 430px;
    }
    #grid .photography h1 {
        margin-top: 250px;
        font-size: 40px;
    }
    #grid .photography p {
        margin-top: 15px;
        width: 100%;
        margin-left: 7px;
        font-size: 25px;
    }
    #testimonials {
        margin-top: 70px;
    }
    #testimonials .test{
        margin-left: -90px;
    }
    #testimonials .test .box {
        padding: 5px;
    }
    .testimonials .test .box img {
        width: 60%;
    }
    #testimonials .test .box p {
        font-size: 18px;
    }
    #images .image1 {
        height: 350px;
        width: 100%;
        background-size: 100%;
    }
    #images .image2 {
        height: 350px;
        width: 100%;
        background-size: 100%;
    }
    #images .image3 {
        height: 350px;
        width: 100%;
        background-size: 100%;
    }
    #images .image4 {
        height: 350px;
        width: 100%;
        background-size: 100%;
    }
    footer {
        margin-top: -35px;
    }
    footer .links nav ul{
        margin-left: 33%;
    }
    footer .contact {
        margin-left: 40%;
    }
}
@media only screen and (max-width:768px) {

}
@media only screen and (max-width:600px) {
    html,body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    #header {
        background-image: url(../images/mobile/image-header.jpg);
        height: 750px;
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 10px;
    }
    #header .flex {
        gap: 0;
    }
    .menu_hidden {
        display: block;
        transition: 0.3s;
    }
    .hamburger {
        display: block;
        visibility: visible;
        height: 20px;
    }
    .navbar {
        display: none;
    }
    #header .head img {
        margin-top: 160px;
        margin-left: 45%;
        height: 200px;
    }
    #grid {
        grid-template-columns: 1fr;
    }
    #grid .egg:nth-last-of-type(5){
        grid-row: 2 / 1;
    }
    #grid .cup:nth-last-of-type(4){
        grid-row: 4 / 3 ;
    }
    #grid .boxes {
        width: 100%;
        height: 500px;
        margin-top: 0;
        padding: 10px;
        text-align: center;
    }
    #grid .boxes h2 {
        font-size: 60px;
    }
    #grid .boxes p {
        margin-top: 30px;
        font-size: 30px;
        opacity: 80%;
    }
    #grid .boxes button a {
        font-size: 30px;
    }
    #grid .egg {
        background: url(../images/mobile/image-transform.jpg);
        height: 500px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    #grid .cup {
        background: url(../images/mobile/image-stand-out.jpg);
        height: 500px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    #grid .words {
        width: 100%;
        height: 620px;
        margin-top: 0;
        padding: 10px;
        text-align: center;
    }
    #grid .words h1 {
        font-size: 65px;
    }
    #grid .words p {
        margin-top: 30px;
        font-size: 40px;
        opacity: 80%;
    }
    #grid .words button a {
        font-size: 30px;
    }
    #grid .grape {
        background: url(../images/mobile/image-graphic-design.jpg);
        height: 800px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    #grid .grape h1 {
        margin-top: 90%;
        margin-left: 0;
        font-size: 50px;
    }
    #grid .grape p {
        margin-left: 0;
        font-size: 25px;
        width: 100%;
    }
    #grid .photography {
        background: url(../images/mobile/image-photography.jpg);
        height: 800px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    #grid .photography h1 {
        margin-top: 90%;
        margin-left: 0;
        font-size: 50px;
    }
    #grid .photography p {
        margin-left: 0;
        font-size: 25px;
        width: 100%;
    }
    #testimonials h2 {
        font-size: 35px;
    }
    .test {
        flex-direction: column;
    }
    .test .box {
        width: 100%;
        margin-left: 5px
    }
    .test .box img {
        width: 20%;
        margin-top: 10px;
    }
    .test .box p {
        font-size: 30px;
    }
    .test .box h3 {
        font-size: 40px;
    }
    .test .box h4 {
        font-size: 30px;
    }
    #images {
        grid-template-columns: repeat(2, 1fr);
    }
    #images .image1 {
        background: url(../images/mobile/image-gallery-milkbottles.jpg);
        height: 300px;
        background-size: 100%;
        background-repeat: no-repeat;
    } 
    #images .image2 {
        background: url(../images/mobile/image-gallery-orange.jpg);
        height: 300px;
        background-size: 100%;
        background-repeat: no-repeat;
    } 
    #images .image3 {
    background: url(../images/mobile/image-gallery-cone.jpg);
    height: 300px;
    background-size: 100%;
    background-repeat: no-repeat;
    } 
    #images .image4 {
    background: url(../images/mobile/image-gallery-sugar-cubes.jpg);
    height: 300px;
    background-size: 100%;
    background-repeat: no-repeat;
   } 
   footer .footer_logo img{
    margin-top: 70px;
    margin-left: -25px;
}
footer .links nav ul{
    margin-left: 20%;
}
footer .contact {
    margin-left: 32.5%;
}
}