@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate-cyan: hsl(168, 34%, 41%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}
body {
    font-size: 18px;
    font-family: 'Fraunces', serif;
}
#header {
    background-image: url(../images/desktop/image-header.jpg);
    height: 750px;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 10px;
}
#header .flex {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 25%;
    margin-top: 25px;
}
#header .logo {
    margin-left: -15%;
}
#header .logo img {
    height: 30px;
}
#header nav ul {
    display: flex;
    gap: 20%;
    list-style: none;
}
#header nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: var(--White);
}
#header nav ul li button {
    background: var(--White);
    border: none;
    padding: 15px;
    border-radius: 50px;
    width: 130%;
    margin-top: -15px;
}
#header nav li button a {
    color: black;
}
#header .head h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 80px;
    color: var(--White);
    letter-spacing: 10px;
    font-family: 'Fraunces', serif
}
#header .head img {
    margin-left: 49%;
    margin-top: 8%;
}
#grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#grid .boxes {
    width: 50%;
    margin-left: 120px;
    text-align:start;
    margin-top: 70px;
}
#grid .boxes h2 {
    font-size: 40px;
    margin-top: 60px;
    color: var(--Very-dark-desaturated-blue);
    font-family: 'Fraunces', serif
}
#grid .boxes p {
    margin-top: 30px;
    font-size: 14.5px;
    opacity: 80%;
    font-family: 'Barlow', sans-serif;
}
#grid .boxes button {
    margin-top: 20px;
    border: none;
    background: white;
    border-bottom: 2px solid gold;
    text-transform: uppercase;
    color: var(--Very-dark-desaturated-blue);
}
#grid .egg {
    background: url(../images/desktop/image-transform.jpg);
    height: 550px;
    background-repeat: no-repeat;
    background-size: 100%;
}
#grid .cup {
    background: url(../images/desktop/image-stand-out.jpg);
    height: 550px;
    background-repeat: no-repeat;
    background-size: 100%;
}
#grid .words {
    width: 50%;
    margin-left: 120px;
    text-align:start;
    margin-top: 70px;
}
#grid .words h1 {
    font-size: 30px;
    margin-top: 60px;
    color: var(--Very-dark-desaturated-blue);
    font-family: 'Fraunces', serif
}
#grid .words p {
    margin-top: 30px;
    font-size: 14.5px;
    opacity: 80%;
    color: var(--Very-dark-desaturated-blue);
    font-family: 'Barlow', sans-serif;
}
#grid .words button {
    margin-top: 20px;
    border: none;
    background: white;
    border-bottom: 2px solid pink;
    text-transform: uppercase;
}
#grid .grape {
    background: url(../images/desktop/image-graphic-design.jpg);
    height: 550px;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}
#grid .grape h1 {
    font-size: 30px;
    margin-top: 350px;
    color: var(--Very-dark-desaturated-blue);
    font-family: 'Fraunces', serif;
    font-weight: 900;
}
#grid .grape p {
    margin-top: 30px;
    font-size: 20px;
    width: 60%;
    margin-left: 150px;
    color: var(--Very-dark-desaturated-blue);
    font-family: 'Barlow', sans-serif;
}
#grid .photography {
    background: url(../images/desktop/image-photography.jpg);
    height: 550px;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}
#grid .photography h1 {
    font-size: 30px;
    margin-top: 350px;
    color: var(--Very-dark-desaturated-blue);
    font-family: 'Fraunces', serif
}
#grid .photography p {
    margin-top: 30px;
    font-size: 20px;
    width: 60%;
    margin-left: 150px;
    color: var(--Very-dark-desaturated-blue);
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
}
#testimonials {
    margin-top: 100px;
}
#testimonials h2 {
    text-align: center;
    opacity: 30%;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.test {
    display: flex;
    padding: 50px;
}
.test .box {
    width: 30%;
    margin-left: 60px;
    text-align: center;
}
.test .box img {
    border-radius: 100px;
    width: 15%;
    margin-top: 10ox;
}
.test .box p {
    font-size: 20px;
    margin-top: 20px;
    opacity: 80%;
}
.test .box h4 {
    margin-top: 10px;
    opacity: 60%;
}
.test .box h3 {
    margin-top: 40px;
    opacity: 80%;
}
#images {
    display: flex;
}
#images .image1 {
    background: url(../images/desktop/image-gallery-milkbottles.jpg);
    width: 40%;
    background-repeat: no-repeat;
    background-size: 50%;
}
#images .image2 {
    background: url(../images/desktop/image-gallery-orange.jpg);
    height: 400;
    width: 305%;
    background-repeat: no-repeat;
    background-size: 50%;
}